/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 3 version
*/


* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color:  #696969;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    background-color: 	#dbc4b3;
    line-height: 1.5;
    background-image: url(./grayflower.svg);
    background-size: cover;
    background-attachment:fixed;
  
    
}
html {
    scroll-behavior: smooth;
}
#home,
#about,
#contact,
#projects {
    min-height: 100vh;
   
}



svg path {
    stroke-dasharray: 600px;
    stroke-dashoffset: 600px;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: draw-stroke 8s linear forwards;
    animation-iteration-count: infinite;
    
}

@keyframes draw-stroke{
    100%{
        stroke-dashoffset: 0;
    }
}

ul {
    list-style: none;
   
}






