/*font used
font-family: 'Raleway', sans-serif;
*/

/*
colors used
.color-primary-0 { color: #4C5760 }	text
.color-primary-1 { color: #B3B5BB} gray
.color-primary-2 { color: #C5D9E2} background
.color-primary-3 { color: #CDFFF9 }mint green
.color-primary-4 { color: #817F75 }darker brown
#A5FFD6 aquamarine


*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    background-color: #C5D9E2;
    line-height: 1.5;
    text-align: center;
}

.page-header {
    display: flex;
    width: 100%;
    padding:20px;
}
.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;

}

.logo {
    width: 300px;
    border-color: #66635B;
    border-style: solid;
}

.navigation-list {
    list-style-type: none;
    margin-right: 50px;
}

.navigation-list li {
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
}



.navigation-list__item--active {
    text-decoration: none;
}

a {
    color:  #4C5760;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

.profile__portrait {
    width: 250px;
    float:left;
    margin-right: 40px;
    border-radius: 50%;
}

a:visited {
    /*visited link */
    color: #4C5760;
}
a:hover, a:focus {
    text-decoration: none;
}

a:active {
    /*selected link */
    color: #4C5760;
}
/*used div for my introduction, address, and about me sections*/
div {
    color:#4C5760;
    line-height: 1.5;
    
}
ul {
    list-style: none;
}

.aboutme {
    margin: 0 auto;
}


.button, button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #CDFFF9;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba (0,0,0,0.3);
    transition: opacity 0.2s;
    margin-left: 50px;
}

button:hover, button:focus,
.button:hover, .button:focus {
    cursor: pointer;
    opacity: 0.8;
}

table {
    margin: 0 auto;
    color:#817F75;
}

/*animation for about page*/
@keyframes color-change {
    from {
        fill: #edc655;
    }
    to {
        fill: #f76414;
    }
}
.sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes cloud-move {
    from {
        transform: translate(0,50px);
    }
    to {
        transform: translate(200px, 50px);
    }
}
.cloud-front {
animation-duration: 30s;
animation-name: cloud-move;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }
    to {
        transform: translate(100px, 48px);
    }
}
.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

/* start grid fallback */ 
.grid__item {
    display: inline-block;
    width: 33%
}
@supports (display: grid) {
.grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    grid-gap: 20px;
    margin-left: 20px;
}

.grid__item {
    background-color:#B3B5BB;
    padding: 20px;
    width: auto;
    min-height: auto;
    margin: 0;
}

.grid__item:last-child {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
 }
}

.page-footer {
    clear:both;
    display:flex;
    flex-direction: column;
    text-align: center;
  
}

/*media query section*/

@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
   
}

@media all and (min-width: 500px) and (max-width: 750px){
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
   
}

@media all and (max-width: 750px) {
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
        
    }
    .navigation-list li {
        margin-right: 20px;
    }
}